.header-container {
  display: flex;
  flex-direction: column;
  background-color: #dc0000;
  align-items: center;
}
@media screen and (min-width: 630px) {
  .header-container {
    flex-direction: row;
  }
}
